* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}


header {
    display: flex;
    width: 100%;
}

header img {
    width: 50%;
}

.sub2 {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: auto;
    align-items: flex-end;
}

.sub2 img {
    width: 58%;
}

.sub2 .p1 {
    font-family: Arial black;
    font-size: 25px;
    color: rgb(179, 8, 8);
}

.sub2 .p2 {
    font-family: Arial black;
    font-size: 48px;
}

.sub2 .p3 {
    font-family: Calibri;
    font-size: 24.5px;
    font-weight: bold;
}

.menu {
    display: flex;
    color: white;
    font-family: Calibri;
    font-size: 22px;
    align-items: center;
    justify-content: end;
    gap: 47px;
    padding-right: 25px;
    height: 50px;
    background: url(menu_bg.gif);
    background-size: contain;
}

.menu p:hover {
    background-color: gray;
    padding: 12px;
}

.section1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 95%;
    margin: 30px auto;
}

.box1 {
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.box1 img {
    width: 100%;
}

.box2 {
    width: 100%;
    background-image: url('form_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.b {
    display: flex;
    align-items: start;
    justify-content: space-between;

}
.b1 {
    padding: 10px;
    display: flex;
    color: white;
    background-color: rgb(179, 8, 8);
    align-items: center;
}

.b2 {
    width:55%;
    padding-top: 10px;
    font-family: Calibri;
    letter-spacing: 1px;
    font-size: 20px;
}

.highlight {
    color: rgb(17, 63, 110);
    font-size: 40px;
    line-height: 1px;
}

.p4 {
    font-size: 20px;
    font-family: Arial;
    margin-left: 20px;
    width:90%;
   
}

.x {
    display: flex;
    justify-content: space-evenly;

}

.x1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    font-family: Arial;
    margin-bottom: 10px;
    align-items: end;
    font-weight: bold;
}

.t {
    height: 22px;
    width: 210px;
}

.x2 {
    margin-top: 20px;
    transform: rotate(15deg);
}
.confidential{
    width:110%;
}    

textarea {

    display: flex;
    width: 91%;
    height: 18%;
    resize: none;
    margin: 0 20px;
}

textarea::placeholder {
    color: black;
    font-family: arial black;
    padding-left: 10px;
    padding-top: 5px;
}

.box2l {
    display: flex;
    justify-content: space-evenly;
    color: rgb(99, 99, 99);
}

.box2l1 {
    align-self: center;

}

i {
    font-size: 17px;
}

.btn {
    border: none;
    color: white;
    margin-top: 5px;
    padding: 10px 24px;
    height: 40px;
    background-color: rgb(179, 8, 8);
    font-size: 20px;
    display: flex;
    align-items: center;

}

.section2 {
    width: 100%;

}

.container {
    display: flex;
    padding: 30px 0;
    font-family: Arial;
    font-size: 16px;
    width: 100%;
}

.container h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(74, 73, 73);
}

.container h3 {
    font-family: Arial;
    font-size: 16px;
    line-height: 45px;
}

.red {
    color: rgb(179, 8, 8);
}

.c1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 50px;
}

.c1a {
    display: flex;
}

.c1a p {
    width: 60%;
}

.btn1 {
    display: flex;
    width: 133px;
    border: none;
    color: white;
    padding: 5px 5px 5px 10px;
    background-color: rgb(179, 8, 8);
    font-size: 16px;
    align-items: center;
    gap: 10px;
    margin-left: 35px;
    text-transform: uppercase;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.358), 4px 4px 10px #00000069;
}

.button {
    border-top: 1px solid rgba(194, 192, 192, 0.744);
    width: 90px;
    padding-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.c1 .button {
    align-self: flex-end;
}

.c2 {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(194, 192, 192, 0.744);
    border-right: 1px solid rgba(194, 192, 192, 0.744);
    align-items: center;
    flex: 1.5;
}

.c2a {
    display: flex;
    border-bottom: 1px solid rgba(194, 192, 192, 0.744);
    padding-bottom: 25px;
    justify-content: space-evenly;
    width: 100%;
}

.c2b {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    width: 95%;
}

.c3 {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    padding: 0 50px;
}

.c3a {
    display: flex;
    padding-bottom: 25px;
    gap: 10px;
}

.c3 .button {
    align-self: flex-end;
}

.hr {
    display: flex;
}

.section3 {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.section3 p {
    color: rgb(108, 107, 107);
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.section3 h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(74, 73, 73);
}

.section3 h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(74, 73, 73);
}

.l1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
}

.lm1 {
    display: flex;
    background-color: grey;
    color: white;
    width: 237px;
    margin-top: 10px;
}

.lm1 h2 {
    color: white;
}

.lm1 p {
    color: white;
    align-self: end;
}

.lm2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.lm2 h1 {
    color: rgb(186, 185, 185);
    font-family: Calibri;
}

.l2 {
    flex: 2;
}
.med{
    display: flex;
}

.l3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.l31 {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-between;
}

.l32 {
    width:65%;
    display: flex;
    justify-content: space-between;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     gap: 30px;
}

footer {
    width: 100%;
    height: 30px;
    margin-top: 90px;
}

footer img {
    width: 100%;
    height: 100%;
}

.menu img {
    display: none;
}




@media (max-width: 1200px)      /*Large Screen*/
    {
    nav .menu {
        font-size: 18px;
    }

    .sub2 {
        display: flex;
        flex-direction: column;
        width: 48%;
        height: auto;
        align-items: flex-end;
    }

    .sub2 img {
        width: 58%;
    }

    .sub2 .p1 {
        font-family: Arial black;
        font-size: 24px;
        color: rgb(179, 8, 8);
    }

    .sub2 .p2 {
        font-family: Arial black;
        font-size: 45px;
    }

    .sub2 .p3 {
        font-family: Calibri;
        font-size: 24px;
        font-weight: bold;
    }

    nav .menu {
        font-size: 16px;
    }

    .section1 .box1 {
        width: 100%;
    }

    .section1 .box2 {
        width: 100%;
    }
.l32{
    width:100%;
}
}

@media (max-width: 992px)                 /*Medium Screen*/
    {
    .sub2 .p1 {
        font-family: Arial black;
        font-size: 17px;
        color: rgb(179, 8, 8);
    }
    .sub2 .p2 {
        font-family: Arial black;
        font-size: 33px;
    }
    .sub2 .p3 {
        font-family: Calibri;
        font-size: 17px;
        font-weight: bold;
    }
    .sub2 img {
        width: 51%;
    }
    .section1 .box1 {
        width: 100%;
    }
    .section1 .box2 {
        width: 100%;
        
    }
   .section1 {
        display: flex;
        flex-direction: column;
    }
    .b1{
            font-size: 23px;
    }
    .b2{
         width: 36%;
        font-size: 24px;
    }
    .p4 {
        font-size: 26px;
        margin-bottom: 10px;
        width: 90%;
    }
    .x {
     display: flex;
     width:100%;
     
    }
.x1{
    width:50%;
}
.t{
    width:35vw;
    height:3vw;
}
.x2{
    width:27%;
    margin-top: 30px;
}
.confidential{
    width:100%;
}
i{
    font-size: 20px;
}
textarea{
        padding: 20px 0;
        width:89%;
}
.box2l{
    justify-content: space-around;
}
.box2l .btn {
    color: white;
    height: 50px;
    width:40%;
    background-color: rgb(179, 8, 8);
    font-size: 25px;
    display: flex;
    justify-content: space-between;
   
}
.container {
  display: flex;
  flex-wrap: wrap; /* taake neeche wale element automatically neeche shift ho jaye */ 
    width: 100%;
}
.c1{
  flex: 1 ; /* apni width jitni chahiye le sakte hain */
}
.c2{
  flex: 1 ; /* apni width jitni chahiye le sakte hain */
}
.c3 {
  flex:0.2;
  align-items: center;
  margin-top: 20px; 
  margin-left: 30%;   
}
    .section2 {
        display: flex;
        flex-direction: column;
    }
    .section3 {
        display: flex;
        flex-direction: column;
    }
.cards{
    display:flex;
    width:100%;
    justify-content: space-around;
    padding-top: 20px;
}
.icon{
    flex-direction: row;
}
.l1{
    align-items: center;
}
.l2{
      width: 89%;
}
.l32{
    width:22%;
}
}


@media (max-width: 768px)                         /*Small Screen*/
{
    header {
        flex-direction: column;
        align-items: center;
    }

    .sub2 .p1 {
        font-family: Arial black;
        font-size: 18px;
        color: rgb(179, 8, 8);
    }

    .sub2 .p2 {
        font-family: Arial black;
        font-size: 35px;
    }

    .sub2 .p3 {
        font-family: Calibri;
        font-size: 18px;
        font-weight: bold;
    }

    .menu p {
        display: none;
    }

    .menu img {
        display: block;
    }
    .sub2 img {
        width: 70%;
    }
    .section1 {
        display: flex;
        flex-direction: column;

    }


        .b1{
            font-size: 16px;
    }
    .b2{
         width: 48%;
        font-size: 19px;
    }
    .p4 {
        font-size: 18px;
        margin-bottom: 10px;
        width: 90%;
    }
    .x {
     display: flex;
     width:100%;
     
    }
.x1{
    width:50%;
}
.t{
    width:35vw;
    height:3vw;
}
.x2{
    width:27%;
    margin-top: 30px;
}
.confidential{
    width:100%;
}
i{
    font-size: 15px;
}
textarea{
        padding: 20px 0;
        width:89%;
}
.box2l{
    justify-content: space-around;
}
.box2l .btn {
    color: white;
    height: 46px;
    width:40%;
    background-color: rgb(179, 8, 8);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
   
}
.container {
  display: flex;
  flex-direction: column;
    width: 100%;
}
.med{
    flex-direction: column;
    align-items: center;
}

.c1{
  flex: 1 ; /* apni width jitni chahiye le sakte hain */
}
.c1 .button {
        display: flex;
        align-self: flex-start;
        width: 30%;
        padding:0;
}
.c1 .btn1{
    width:100%;
}
.c2{
  flex: 1 ; /* apni width jitni chahiye le sakte hain */
}
.c3 {
  flex:0.2;
  
  margin-top: 20px; 
  margin-left: 0%;   
}
.c3 .button {
        display: flex;
        align-self: center;
        width: 30%;
        padding:0;
}
.c3 .btn1{
    width:100%;
}
    .section2 {
        display: flex;
        flex-direction: column;
    }
    .section3 {
        display: flex;
        flex-direction: column;
    }
.cards{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    justify-content: space-around;
    padding-top: 20px;
}
.icon{
        flex-direction: column;
}
.l1{
    align-items: center;
}
.l2{
      width: 89%;
}
.l32{
    width:50%;
}
}




