*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    gap:270px;
}
.img1{
    color: gray;
}
.sub2{
    display:flex;
    flex-direction: column;
    margin-right: 10px;
}
.sub2 p1{
    font-family: Arial black;
    font-size: 25px;
    color: rgb(179, 8, 8);
}
.sub2 p2{
    font-family: Arial black;
    font-size: 48px;
}
.sub2 p3{
    font-family: Calibri;
    font-size: 24.5px;
    font-weight: bold;
}
.menu{
    display:flex;
    color:white;
    font-family: Calibri;
    font-size: 22px;
    align-items: center;
    justify-content: end;
    gap:47px;
    padding-right: 25px;
    height: 50px;
    background: url(menu_bg.gif);
    background-size: contain; 
}
.menu p:hover{
    background-color: gray;
    padding: 12px;
}

main{
    display:flex;
    gap:20px;
    margin:30px;
}
 
main img{
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.box2{
        height: 400px;
        background-image: url('form_bg.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.b{
    display:flex;
    align-items: start;
    margin-bottom: 10px;
    gap:30px;

}
.b1{
    padding:10px;
    display:flex;
    color: white;
    background-color:rgb(179, 8, 8); 
    align-items: center;
}
.b2{
    padding-top: 10px;
    font-family: Calibri;
    letter-spacing: 1px;
    font-size: 20px;
    
}
.highlight{
    color: rgb(17, 63, 110);
    font-size: 40px;
    line-height: 1px;
}
.p1{
    font-size: 20px;
    font-family: Arial;
    margin-left: 20px;
    margin-bottom: 10px;
}
.x{
    display:flex;
    gap:10px;
}
.x1{

    display:flex;
    flex-direction: column;
    gap:10px;
     font-size: 15px;
    font-family: Arial;
    margin-left: 20px;
    margin-bottom: 20px;
    align-items: end;
    font-weight: bold;
}
.t{
    height:22px;
    width:210px;
}
.x2{
    margin-top:30px;
    transform: rotate(15deg);
}
textarea{
    
  margin-left: 25px;
  width:490px;
  height:65px;
  resize: none;
}
textarea::placeholder{
    color:black;
    font-family: arial black;
    padding-left: 10px;
    padding-top: 5px;
}

.box2l{
    display: flex;
    margin-left: 15px;
    gap:15px;
    color:rgb(99, 99, 99);
}
.box2l1{
    margin-top: 10px;
   align-self: center;

  }
  i{
    font-size: 18px;
  }
.btn{
    border: none; 
    color: white;
    margin-top: 5px;
    padding: 10px 24px;
    height: 40px;
    background-color: rgb(179, 8, 8); 
    font-size: 20px;
    display: flex;
    align-items: center;
    gap:10px;
}
.container{
    display: flex;
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
    justify-content: space-around;
}
.c1{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black;     */
    font-size: 20px;
}
.c1a{
    display: flex;
    width:340px;
}
.line{
    margin-top: 40px;
    margin-left: 130px;
    height:1px;
  filter: grayscale(100%) brightness(1.4);
}

.btn1{
    display:flex;
    width:140px;
    border: none; 
    color: white;
    padding: 5px 16px;
    height: 40px;
    background-color: rgb(179, 8, 8); 
    font-size: 18px;
    align-items: center;
    gap:10px;
    margin-left: 190px;
    
}
.c2{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgba(16, 15, 15, 0.795); */
}
.c2a{
    display: flex;
}
.c2b{
    display:flex;
}
.hr{
    display: flex;
}
.last{
    display:flex;
}
.l1{
    flex:1;
}
.l2{
    flex:2;
}
.l3{
    flex:1;
}





