*{
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    width: 100%;
}
header img{
    width: 50%;
}
.sub2{
    display:flex;
    flex-direction: column;
    width:48%;
    height: auto;
    align-items: flex-end; 
}
.sub2 img{
    width:58%;
}
.sub2 .p1{
    font-family: Arial black;
    font-size: 25px;
    color: rgb(179, 8, 8);
}
.sub2 .p2{
    font-family: Arial black;
    font-size: 48px;
}
.sub2 .p3{
    font-family: Calibri;
    font-size: 24.5px;
    font-weight: bold;
}
.menu{
    display:flex;
    color:white;
    font-family: Calibri;
    font-size: 22px;
    align-items: center;
    justify-content: end;
    gap:47px;
    padding-right: 25px;
    height: 50px;
    background: url(menu_bg.gif);
    background-size: contain; 
}
.menu p:hover{
    background-color: gray;
    padding: 12px;
}
.section1{
    display:flex;
    gap: 10px;
    justify-content: center;
    width: 95%;
    margin: 30px auto;
}
.box1{
    display: flex;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    width: 53%;
}
.box1 img{
    width: 100%;
}
.box2{
        width: 45%;
        background-image: url('form_bg.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.b{
    display:flex;
    align-items: start;
    margin-bottom: 10px;
    gap:30px;
}
.b1{
    padding:10px;
    display:flex;
    color: white;
    background-color:rgb(179, 8, 8); 
    align-items: center;
}
.b2{
    padding-top: 10px;
    font-family: Calibri;
    letter-spacing: 1px;
    font-size: 20px;
}
.highlight{
    color: rgb(17, 63, 110);
    font-size: 40px;
    line-height: 1px;
}
.p1{
    font-size: 20px;
    font-family: Arial;
    margin-left: 20px;
    margin-bottom: 10px;
}
.x{
    display:flex;
    gap:10px;
}
.x1{
    display:flex;
    flex-direction: column;
    gap:10px;
     font-size: 15px;
    font-family: Arial;
    margin-left: 20px;
    margin-bottom: 20px;
    align-items: end;
    font-weight: bold;
}
.t{
    height:22px;
    width:210px;
}
.x2{
    margin-top:30px;
    transform: rotate(15deg);
}
textarea{
    
  display:flex;
  width:91%;
  height:18%;
  resize: none;
  margin: 0 20px;
}
textarea::placeholder{
    color:black;
    font-family: arial black;
    padding-left: 10px;
    padding-top: 5px;
}
.box2l{
    display: flex;
    margin-left: 15px;
    gap:15px;
    color:rgb(99, 99, 99);
}
.box2l1{
    margin-top: 10px;
   align-self: center;

  }
  i{
    font-size: 18px;
  }
.btn{
    border: none; 
    color: white;
    margin-top: 5px;
    padding: 10px 24px;
    height: 40px;
    background-color: rgb(179, 8, 8); 
    font-size: 20px;
    display: flex;
    align-items: center;
    gap:10px;
}
.section2{
    width: 100%;
    
}
.container{
    display: flex;
    padding:30px 0;
    font-family: Arial;
    font-size: 16px;
    width: 100%;
}
.container h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(74, 73, 73);
}
.container h3{
    font-family: Arial;
    font-size: 16px;
    line-height: 45px;
}
.red{
    color: rgb(179, 8, 8); 
}
.c1{
    display: flex;
    flex-direction: column; 
    flex: 1;
    padding-left: 50px;
}
.c1a{
    display: flex;
}
.c1a p{
    width: 60%;
}
.btn1 {
    display: flex;
    width: 133px;
    border: none;
    color: white;
    padding: 5px 5px 5px 10px;
    background-color: rgb(179, 8, 8);
    font-size: 16px;
    align-items: center;
    gap: 10px;
    margin-left: 35px;
    text-transform: uppercase;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.358), 4px 4px 10px #00000069;
}
.button {
    border-top: 1px solid rgba(194, 192, 192, 0.744);
    width: 90px;
    padding-right: 100px;
    margin-top: 20px;
}
.c1 .button{
    align-self: flex-end;
} 
.c2{
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(194, 192, 192, 0.744);
    border-right: 1px solid rgba(194, 192, 192, 0.744);
    align-items: center;
    flex: 1.5;
}
.c2a{
    display: flex;
    border-bottom: 1px solid rgba(194, 192, 192, 0.744);
    padding-bottom: 25px;
    justify-content: space-evenly;
    width: 100%;   
}
.c2b{
    display:flex;
    padding: 25px;
     justify-content: space-evenly;
     width: 100%;
}
.c3{
    display: flex;
    flex-direction: column;
    flex: 0.8;
     padding: 0 50px; 
}
.c3a{
    display: flex;
    padding-bottom: 25px;
    gap: 10px;
}
.c3 .button{
    align-self: flex-end;
}
.hr{
    display: flex;
}
.section3{
    display:flex; 
    padding: 20px;
    justify-content: space-between;
}
.section3 p{
    color: rgb(108, 107, 107);
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.section3 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(74, 73, 73);
}
.section3 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(74, 73, 73);
}
.l1{
    display: flex;
    flex-direction: column;
    flex:1;  
    margin-left: 20px;
}
.lm1 {
    display: flex;
    background-color: grey;
    color: white;
        width: 237px;
        margin-top: 10px;
}
.lm1 h2  {
    color: white;
}
.lm1  p{
    color: white;
    align-self: end;
}
.lm2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;  
}
.lm2 h1{
    color:rgb(186, 185, 185);
    font-family: Calibri;
}
.l2{
    flex:2;
}
.l3{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.l31{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.l32{
    display:flex;
    gap:15px;
}
footer{
    width:100%;
    height: 30px;
    margin-top: 90px;
}
footer img{
    width:100%;
    height:100%;
}
.menu img{
    display: none;
}
@media (max-width: 576px){                 /*Small Screen*/ 
    header{
        flex-direction: column;
    }
    .sub2 .p1{
    font-family: Arial black;
    font-size: 1px;
    color: rgb(179, 8, 8);
}
.sub2 .p2{
    font-family: Arial black;
    font-size: 10px;
}
.sub2 .p3{
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;
}
        .menu p{
        display: none;
    }
    .menu img{
        display: block;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .section3{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px)               /*Medium Screen*/
{
    header{
        flex-direction: column;
        align-items: center;
    }
    .sub2 .p1{
    font-family: Arial black;
    font-size: 10px;
    color: rgb(179, 8, 8);
}
.sub2 .p2{
    font-family: Arial black;
    font-size: 1px;
}
.sub2 .p3{
    font-family: Calibri;
    font-size: 10px;
    font-weight: bold;
}
    .menu p{
        display: none;
    }
    .menu img{
        display: block;
    }
}




@media (max-width: 992px)               /*Large Screen*/
{
    .section1{
        flex-direction: column;
        align-items: center;
    }
    .sub2 .p1{
    font-family: Arial black;
    font-size: 17px;
    color: rgb(179, 8, 8);
}
.sub2 .p2{
    font-family: Arial black;
    font-size: 10px;
}
.sub2 .p3{
    font-family: Calibri;
    font-size: 17px;
    font-weight: bold;
}
    .section1 .box1{
        width: 90%;
    }
    .section1 .box2{
        width: 90%;
    } 
}
@media (max-width: 1200px) {                     /*Extra Large Screen*/
 .sub2{
    display:flex;
    flex-direction: column;
    width:48%;
    height: auto;
    align-items: flex-end; 
}
.sub2 img{
    width:65%;
}
.sub2 .p1{
    font-family: Arial black;
    font-size: 24px;
    color: rgb(179, 8, 8);
}
.sub2 .p2{
    font-family: Arial black;
    font-size: 45px;
}
.sub2 .p3{
    font-family: Calibri;
    font-size: 24px;
    font-weight: bold;
}
    .section1 .box1{
        width: 90%;
    }
    .section1 .box2{
        width: 90%;
    }        
    
}





