*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    gap:270px;
}
.img1{
    color: gray;
}
.sub2{
    display:flex;
    flex-direction: column;
    margin-right: 10px;
}
.sub2 p1{
    font-family: Arial black;
    font-size: 25px;
    color: rgb(179, 8, 8);
}
.sub2 p2{
    font-family: Arial black;
    font-size: 48px;
}
.sub2 p3{
    font-family: Calibri;
    font-size: 24.5px;
    font-weight: bold;
}
.menu{
    display:flex;
    color:white;
    font-family: Calibri;
    font-size: 22px;
    align-items: center;
    justify-content: end;
    gap:47px;
    padding-right: 25px;
    height: 50px;
    background: url(menu_bg.gif);
    background-size: contain; 
}
.menu p:hover{
    background-color: gray;
    padding: 12px;
}

.section1{
    display:flex;
    gap:20px;
    margin:30px;
}

.box1{
    display: flex;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.box2{
        height: 400px;
        background-image: url('form_bg.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.b{
    display:flex;
    align-items: start;
    margin-bottom: 10px;
    gap:30px;

}
.b1{
    padding:10px;
    display:flex;
    color: white;
    background-color:rgb(179, 8, 8); 
    align-items: center;
}
.b2{
    padding-top: 10px;
    font-family: Calibri;
    letter-spacing: 1px;
    font-size: 20px;
    
}
.highlight{
    color: rgb(17, 63, 110);
    font-size: 40px;
    line-height: 1px;
}
.p1{
    font-size: 20px;
    font-family: Arial;
    margin-left: 20px;
    margin-bottom: 10px;
}
.x{
    display:flex;
    gap:10px;
}
.x1{

    display:flex;
    flex-direction: column;
    gap:10px;
     font-size: 15px;
    font-family: Arial;
    margin-left: 20px;
    margin-bottom: 20px;
    align-items: end;
    font-weight: bold;
}
.t{
    height:22px;
    width:210px;
}
.x2{
    margin-top:30px;
    transform: rotate(15deg);
}
textarea{
    
  margin-left: 25px;
  width:490px;
  height:65px;
  resize: none;
}
textarea::placeholder{
    color:black;
    font-family: arial black;
    padding-left: 10px;
    padding-top: 5px;
}

.box2l{
    display: flex;
    margin-left: 15px;
    gap:15px;
    color:rgb(99, 99, 99);
}
.box2l1{
    margin-top: 10px;
   align-self: center;

  }
  i{
    font-size: 18px;
  }
.btn{
    border: none; 
    color: white;
    margin-top: 5px;
    padding: 10px 24px;
    height: 40px;
    background-color: rgb(179, 8, 8); 
    font-size: 20px;
    display: flex;
    align-items: center;
    gap:10px;
}
.container{
    display: flex;
    padding:30px 60px;
    justify-content: space-around;
    align-items: flex-start;
    font-family: Arial;
    font-size: 16px;
}
.container h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(74, 73, 73);
}
.container h3{
    font-family: Arial;
    font-size: 16px;
    line-height: 45px;
}
.red{
    color: rgb(179, 8, 8); 
}
.c1{
    display: flex;
    flex-direction: column;   
    padding-right: 25px;
    
}
.c1a{
    display: flex;
    width:300px;
}

.btn1 {
    display: flex;
    width: 133px;
    border: none;
    color: white;
    padding: 5px 5px 5px 10px;
    background-color: rgb(179, 8, 8);
    font-size: 16px;
    align-items: center;
    gap: 10px;
    margin-left: 35px;
    text-transform: uppercase;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.358), 4px 4px 10px #00000069;
}
.button {
    border-top: 1px solid rgba(194, 192, 192, 0.744);
    width: 90px;
    padding-right: 100px;
    margin-top: 10px;
}
.c1 .button{
    align-self: flex-end;
}
.c2{
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(194, 192, 192, 0.744);
    border-right: 1px solid rgba(194, 192, 192, 0.744);
    align-items: center;
    width:400px;
    
}
.c2a{
    display: flex;
    border-bottom: 1px solid rgba(194, 192, 192, 0.744);
    padding-bottom: 25px;
    justify-content: space-evenly;
        width: 100%;   
}
.c2b{
    display:flex;
    padding: 25px;
     justify-content: space-evenly;
     width: 100%;
}
.c3{
    display: flex;
    flex-direction: column;
    width:300px;
}
.c3a{
    display: flex;
    padding-bottom: 25px;
    justify-content: space-around;
}
.c3 .button{
    align-self: flex-end;
}
.hr{
    display: flex;
}
.section3{
    display:flex; 
    padding: 20px;
    justify-content: space-between;
}
.section3 p{
    
    color: rgb(108, 107, 107);
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.section3 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(74, 73, 73);
}
.section3 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(74, 73, 73);
}
.l1{
    display: flex;
    flex-direction: column;
    flex:1;  
    margin-left: 20px;
}
.lm1 {
    display: flex;
    background-color: grey;
    color: white;
        width: 237px;
        margin-top: 10px;
}
.lm1 h2  {
    color: white;
}
.lm1  p{
    color: white;
    align-self: end;
}
.lm2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
   
}
.lm2 h1{
    color:rgb(186, 185, 185);
    font-family: Calibri;
}
.l2{
    flex:2;
}
.l3{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.l31{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.l32{
    display:flex;
    gap:15px;
}
footer{
    width:100%;
    height: 30px;
    margin-top: 90px;
}
footer img{
    width:100%;
    height:100%;
}





